@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

html {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

body {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  font-family: monospace;
  color: #111;
}

.wrapper {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  width: 100px;
  height: 100px;
  line-height: 100px;
  display: inline-block;
  position: absolute;
  text-align: center;
  font-size: 100px;
  transition: all 1s ease;
}

.corazon {
  display: none; /* Ocultar la imagen inicialmente */
  position: absolute;
  z-index: 2; /* Asegúrate de que tenga un z-index mayor que el de los elementos del corazón */
  transition: transform 0.5s ease, border-radius 0.5s ease; /* Agregado para suavizar la transición de rotación y la forma de círculo */
  border-radius: 50%; /* Darle forma de círculo */
}

label {
  text-shadow: 8px 8px 30px rgba(0, 0, 0, 0.5);
}

label:hover {
  color: #c32a2a;
  cursor: pointer;
}

#ck1 + label,
#ck2 + label {
  border-radius: 50px;
  top: 0;
}

#ck1:checked + label,
#ck2:checked + label,
#ck3:checked + label {
  background: #c32a2a;
  font-size: 0;
  transition: all 1s ease;
}

#ck1:checked + label,
#ck2:checked + label {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  line-height: 300px;
}

#ck1 + label {
  left: 0;
}

#ck2 + label {
  right: 0;
}

#ck3 + label {
  bottom: 0;
  left: 30%;
  margin: 0 -50px;
}

#ck3:checked + label {
  width: 275px;
  height: 275px;
  bottom: 96px;
  left: 162px;
  transform: rotate(45deg);
  line-height: 27px;
}

span {
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  font-size: 24px;
  color: #999;
  margin-top: 50px;
}

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic);

@keyframes pulse {
  0%,100%   { width:100px;height:100px }
  50% { width:110px;height:110px; }
}
img {animation:pulse 1.5s infinite;}
.text-typing{
  display: none;
}
.text-typing h2 {
  margin-top:100px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 100px;
  white-space:nowrap;
  overflow:hidden;
  animation:typing 15s infinite steps(75,end) forwards, 
          blink 1s infinite
  
} @keyframes typing {
  0% {width: 0%}
    50% {width: 100%}
  100% {width: 0% }
  
} @keyframes blink {
  0%, 100%{
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid #222;
  }
}


@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic);

@keyframes pulse {
  0%,100%   { width:100px;height:100px }
  50% { width:110px;height:110px; }
}
img {animation:pulse 1.5s infinite;}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f7f7f7;
}
.love {
  font-family:'Libre Baskerville', serif;
  font-size: 40px;
  margin: 10px auto;
  width:600px;
  text-align:justify;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.loveh1 {
  margin-top: 10px;
  font-size: 35px;
  text-align:center;
  color: orange;
}
.spano{
  margin-top: 100px;
}


.love img {
  margin-top: 15px;
}


